<h1><%= @merchant.name.capitalize %></h1>

<form class="main-form" action="/merchants/<%= @merchant.id %>/update" method="post">
  <ul>
    <li>
      <label id="name" for="name">Name: </label>
      <input type="text" name="name" value="<%= @merchant.name %>" required>
    </li>
    <li>
      <label id="image" for="image">Image URL: </label>
      <input type="text" name="image" value="<%= @merchant.image %>">
    </li>
    <li class="center">
      <button type="submit" name="submit">Update merchant</button>
    </li>
  </ul>
</form>

<form class="center" action="/merchants/<%= @merchant.id %>/delete" method="post">
  <button class="delete" type="submit" name="delete">Delete merchant</button>
</form>
