<h1>Account holder: <%= @user.name.capitalize %></h1>
<div class="account-box">
  <div class="account-info">
    <h3>Account Info</h3>
    <ul>
      <li>Name: <%= @user.name.capitalize %></li>
      <li>Number of transactions: <%= @user.transactions.count %></li>
      <li>Initial budget: £<%= @user.budget %></li>
      <li>Total value of transactions: £<%= @user.transaction_value %></li>
      <br>
      <li class="bold">Budget remaining: £<%= @user.balance %></li>
    </ul>

    <br>
    <form class="center" action="/" method="get">
      <button type="submit">Logout</button>
    </form>
  </div>

  <div class="account-actions">
    <h3>Account Actions</h3>
    <ul>
      <li class="bold "><a href="/transactions/new/<%= @user.id %>">Add a new transaction</a></li>
      <br>
      <li><a href="/transactions/all/<%= @user.id %>">View all transactions</a></li>
      <li><a href="/merchants">View all merchants</a></li>
      <li><a href="/categories %>">View all categories</a></li>
    </ul>

    <br>
    <fieldset>
      <form action="/transactions/<%= @user.id %>/month" method="get">
        <label id="month" for="month">Show all transactions for the month: </label>
        <br>
        <select name="month">
          <% Date::MONTHNAMES.each do |month| %>
            <% next if month.nil? %>
            <option value="<%= month %>"><%= month %></option>
          <% end %>
        </select>
        <button type="submit" name="button">Go to the results page</button>
      </form>
    </fieldset>
    <br>
    <fieldset>
      <form action="/transactions/<%= @user.id %>/category" method="get">
        <label id="category" for="category">Show all transactions with the category: </label>
        <br>
        <select name="category">
          <% Category.all.each do |category| %>
            <option value="<%= category.id %>"><%= category.name.capitalize %></option>
          <% end %>
        </select>
        <button type="submit" name="button">Go to the results page</button>
      </form>
    </fieldset>

  </div>
</div>

<div class="transaction-box">
  <h3>Recent Transactions</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>Merchant</th>
      <th>Amount</th>
      <th>Date</th>
      <th></th>
    </tr>

    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td>
          <a href="/merchants/<%= transaction.merchant_id %>">
            <img class="table-image" src="<%= transaction.merchant.image %>" alt="merchant_logo">
          </a>
        </td>
        <td>£<%= transaction.amount %></td>
        <td><%= transaction.pretty_date %></td>
        <td>
          <form action="/transactions/<%= transaction.id %>" method="get">
            <button type="submit">Show</button>
          </form>
        </td>
      </tr>
    <% end %>

    <tr class="center bold">
      <td colspan="5">Transactions total: £<%= @transactions.sum(&:amount) %></td>
    </tr>
  </table>
</div>
