<h1>Account holder: <%= @user.name.capitalize %></h1>
<div class="account-box">
  <div class="account-info">
    <h3>Account Info</h3>
    <p>Name: <%= @user.name.capitalize %></p>
    <p>Number of transactions: <%= @user.transactions.count %></p>
    <p>Initial budget: £<%= @user.budget %></p>
    <p>Total value of transactions: £<%= @user.transaction_value %></p>
    <p class="bold">Budget remaining: £<%= @user.balance %></p>
  </div>

  <div class="account-actions">
    <h3>Account Actions</h3>
    <p><a href="/transactions/all/<%= @user.id %>">View all transactions</a></p>
    <p><a href="/transactions/new/<%= @user.id %>">Add a new transaction</a></p>

    <br>
    <fieldset>
      <form action="/transactions/<%= @user.id %>/month" method="get">
        <label id="month" for="month">Filter transactions by month: </label>
        <br>
        <select name="month">
          <% Date::MONTHNAMES.each do |month| %>
            <% next if month.nil? %>
            <option value="<%= month %>"><%= month %></option>
          <% end %>
        </select>
        <button type="submit" name="button">Go</button>
      </form>
    </fieldset>
    <br>
    <fieldset>
      <form action="/transactions/<%= @user.id %>/category" method="get">
        <label id="category" for="category">Filter transactions by category: </label>
        <br>
        <select name="category">
          <% Category.all.each do |category| %>
            <option value="<%= category.id %>"><%= category.name.capitalize %></option>
          <% end %>
        </select>
        <button type="submit" name="button">Go</button>
      </form>
    </fieldset>

  </div>
</div>

<hr>


<div class="transaction-box">
  <h3>Recent Transactions</h3>
  <table>
    <tr>
      <th>ID</th>
      <th>Merchant</th>
      <th>Amount</th>
      <th>Date</th>
      <th></th>
    </tr>

    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.id %></td>
        <td><%= transaction.merchant.name.capitalize %></td>
        <td>£<%= transaction.amount %></td>
        <td><%= transaction.created_at %></td>
        <td>
          <form action="/transactions/<%= transaction.id %>" method="get">
            <button type="submit">Show</button>
          </form>
        </td>
      </tr>
    <% end %>
  </table>
</div>
