<h1><%= @user.name.capitalize %></h1>

<a href="/transactions/new/<%= @user.id %>">New transaction</a>

<h3>All Transactions</h3>

<% @transactions.each do |transaction| %>
  <p>Merchant: <%= transaction.merchant.name.capitalize %></p>
  <p>Amount: £<%= transaction.amount %></p>
  <a href="/transactions/<%= transaction.id %>">Show details</a>
  <a href="/transactions/edit/<%= transaction.id %>">Edit transaction</a>
  <hr>
<% end %>

<h4>Total value: £<%= @user.transaction_value %></h4>
