<h1>Edit Transaction</h1>

<form  class="main-form" action="/transactions/edit/<%= @transaction.id %>" method="post">
  <ul>
    <li>
      <label for="amount">Amount</label>
      <input id="amount" type="number" name="amount" value="<%= @transaction.amount %>" required>
    </li>
    <li>
      <select id="merchant-select" name="merchant_id">
        <% @merchants.each do |merchant| %>
          <% if merchant.id == @transaction.merchant_id %>
            <option name="merchant_id" value="<%= merchant.id %>" selected="selected"><%= merchant.name.capitalize %></option>
          <% else %>
            <option name="merchant_id" value="<%= merchant.id %>"><%= merchant.name.capitalize %></option>
          <% end %>
        <% end %>
      </select>
    </li>
    <li>
      <fieldset>
        <legend>Transaction categories:</legend>
        <% @categories.each do |category| %>
          <% if @transaction.category?(category) %>
            <input id="<%= category.name%>" type="checkbox" name="tags[][id]" value="<%= category.id %>" checked>
            <label for="<%= category.name %>"><%= category.name.capitalize %></label><br>
          <% else %>
            <input id="<%= category.name%>" type="checkbox" name="tags[][id]" value="<%= category.id %>">
            <label for="<%= category.name %>"><%= category.name.capitalize %></label><br>
          <% end %>
        <% end %>
      </fieldset>
    </li>
    <li class="center">
      <button type="submit" name="button">Update transaction</button>
    </li>
  </ul>
</form>

<form class="center" action="/transactions/<%= @transaction.id %>/delete" method="post">
  <button class="delete" type="submit">Delete transaction</button>
</form>
