<h1><%= @user.name.capitalize %>'s Transactions</h1>

<form class="center" action="/transactions/new/<%= @user.id %>" method="get">
  <button type="submit">New transaction</button>
</form>

<table>
  <tr>
    <th>ID</th>
    <th>Merchant</th>
    <th>Amount</th>
    <th>Date</th>
    <th></th>
  </tr>

  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.id %></td>
      <td><%= transaction.merchant.name.capitalize %></td>
      <td>£<%= transaction.amount %></td>
      <td><%= transaction.created_at %></td>
      <td>
        <form action="/transactions/<%= transaction.id %>" method="get">
          <button type="submit">Show</button>
        </form>
      </td>
    </tr>
  <% end %>
</table>
