<h1><%= @user.name.capitalize %>'s Transactions</h1>

<form class="center big-button" action="/transactions/new/<%= @user.id %>" method="get">
  <button type="submit">New transaction</button>
</form>

<table>
  <tr>
    <th>ID</th>
    <th>Merchant</th>
    <th>Amount</th>
    <th>Tags</th>
    <th>Date</th>
    <th></th>
  </tr>

  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.id %></td>
      <td>
        <a href="/merchants/<%= transaction.merchant_id %>">
          <img class="table-image" src="<%= transaction.merchant.image %>" alt="merchant_logo">
        </a>
      </td>
      <td>£<%= transaction.amount %></td>
      <td>
        <ul>
          <% transaction.tags.each do |tag| %>
            <li><%= tag.category.name.capitalize %></li>
          <% end %>
        </ul>
      </td>
      <td><%= transaction.pretty_date %></td>
      <td>
        <form action="/transactions/<%= transaction.id %>" method="get">
          <button type="submit">Show</button>
        </form>
      </td>
    </tr>
  <% end %>

  <tr class="center bold">
    <td colspan="6">Transactions total: £<%= @transactions.sum(&:amount) %></td>
  </tr>
</table>
